<?xml version="1.0" encoding="UTF-8"?>
<Installer>
<Name>SpotifyEnhancer</Name>
    <Version>1.9.2</Version>
    <Title><Name>SpotifyEnhancer</Name> Installer</Title>
      <Publisher>Markus</Publisher>
        <StartMenuDir>SpotifyEnhancer</StartMenuDir>
        <TargetDir>@ApplicationsDir@/SpotifyEnhancer/</TargetDir>
        <WizardDefaultWidth>800</WizardDefaultWidth>
        <WizardDefaultHeight>500</WizardDefaultHeight>
        <MaintenanceToolName>SpotifyEnhancerMaintenanceTool</MaintenanceToolName>
        <RemoteRepositories>
            <Repository>
                <Url>https://code.obermui.de/markus/SpotifyEnhancer/raw/branch/main/installer/repository</Url>
                <Enabled>1</Enabled>
                <DisplayName>Main-Repo</DisplayName>
            </Repository>
        </RemoteRepositories>
</Installer>
