<?xml version="1.0" encoding="UTF-8"?>
<Installer>
<Name>SpotifyEnhancer</Name>
    <Version>1.11.1</Version>
    <Title><Name>SpotifyEnhancer</Name> Installer</Title>
    <InstallerApplicationIcon>installerIcon1</InstallerApplicationIcon>
    <InstallerWindowIcon>installerIcon2</InstallerWindowIcon>
      <Publisher>Markus</Publisher>
        <StartMenuDir>SpotifyEnhancer</StartMenuDir>
        <TargetDir>@ApplicationsDir@/SpotifyEnhancer/</TargetDir>
        <WizardDefaultWidth>800</WizardDefaultWidth>
        <WizardDefaultHeight>500</WizardDefaultHeight>
        <MaintenanceToolName>SpotifyEnhancerMaintenanceTool</MaintenanceToolName>
        <RemoteRepositories>
            <Repository>
                <Url>https://media.githubusercontent.com/media/M4RKUS28/SpotifyEnhancer/refs/heads/main/installer/repository</Url>
                <Enabled>1</Enabled>
                <DisplayName>Main-Repo</DisplayName>
            </Repository>
        </RemoteRepositories>
</Installer>
